@media only screen and (max-width: 600px) {
}

body {
    background-color: #add8e6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Para el navbar */
#menuNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

#logoMenu {
    color: white;
    font-size: 45px;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

#menuNav > a {
    color: white;
    text-decoration: none;
}

/* Para el carrusel */
#conteItemsCarrusel {
    height: 500px;
    overflow: hidden;
}

.itemCarrusel {
    height: 100%;
    position: relative;
}

.tarjetaCarrusel {
    height: 100%;
}

.flechasCarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

i {
    color: white;
}

#contePuntos {
    background-color: #add8e6;
    display: flex;
    justify-content: space-around;
}

#contePuntos > a {
    font-size: 1.8em;
}

img {
    height: 100%;
    width: 100%;
}

#clienForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}