{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'core/css/Estilos.css' %}">
    <script src="https://kit.fontawesome.com/5811f0749a.js" crossorigin="anonymous"></script>
    <title>Arriendo de luces</title>
</head>
<body>
    <br>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Enlace</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Desplegable
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Acción</a></li>
                          <li><a class="dropdown-item" href="#">Otra acción</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Algo más aquí</a></li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link disabled" aria-disabled="true">Deshabilitado</a>
                  </li>
              </ul>
              <form class="d-flex" action="{% url 'buscar_productos' %}" method="get">
                <input id="searchInput" name="q" class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            
          </div>
      </div>
  </nav>
    <br>
    <div>
      <h3>Arriendos de luces para fiestas</h3>
    </div>
    <br>
    <div id="conteItemsCarrusel">
      <div class="itemCarrusel" id="itemCarrusel-1">
        <div class="tarjetaCarrusel" id="carruselItem-1">
          <img src="{% static 'core/img/fiesta1.jpeg' %}" alt="">
        </div>
        <div class="flechasCarrusel">
          <a href="#itemCarrusel-3">
            <i class="fa-solid fa-arrow-left-long"></i>
          </a>
          <a href="#itemCarrusel-2">
            <i class="fa-solid fa-arrow-right-long"></i>
          </a>
        </div>
      </div>
      <div class="itemCarrusel" id="itemCarrusel-2">
        <div class="tarjetaCarrusel" id="carruselItem-2">
          <img src="{% static 'core/img/fiesta2.jpeg' %}" alt="">
        </div>
        <div class="flechasCarrusel">
          <a href="#itemCarrusel-1">
            <i class="fa-solid fa-arrow-left-long"></i>
          </a>
          <a href="#itemCarrusel-3">
            <i class="fa-solid fa-arrow-right-long"></i>
          </a>
        </div>
      </div>
      <div class="itemCarrusel" id="itemCarrusel-3">
        <div class="tarjetaCarrusel" id="carruselItem-3">
          <img src="{% static 'core/img/fiesta3.jpeg' %}" alt="">
        </div>
        <div class="flechasCarrusel">
          <a href="#itemCarrusel-2">
            <i class="fa-solid fa-arrow-left-long"></i>
          </a>
          <a href="#itemCarrusel-1">
            <i class="fa-solid fa-arrow-right-long"></i>
          </a>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'core/img/Reserva.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Contenido de la primera tarjeta.</p>
              <a href="#" class="btn btn-primary">Ir a algún lugar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'core/img/Reserva.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Reservas las luces</h5>
              <p class="card-text">Aqui encontraras todo tipo de luces para fiestas, matrimonios, cumpleaños etc.</p>
              <a href="#" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'core/img/Reserva.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 3</h5>
              <p class="card-text">Contenido de la segunda tarjeta.</p>
              <a href="#" class="btn btn-primary">Ir a otro lugar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/core/js/validaciones.js"></script>
</body>
</html>