{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/Estilos.css' %}">
    <script src="https://kit.fontawesome.com/5811f0749a.js" crossorigin="anonymous"></script>
    <title>Arriendo de luces</title>
</head>
<body>
    <br>
    <nav id="menuNav">
      <h1 id="logoMenu">LOGO</h1>
        <ul>
          <li><a href="">Inicio</a></li>
          <li><a href="">Contacto</a></li>
          <li><a href="">Quienes somos</a></li>
          <li><a href="">Carrito</a></li>
        </ul>
        <form id="searchForm" action="{% url 'busquedas' %}" method="get">
          <input type="text" name="q" placeholder="Buscar">
          <button type="submit">Buscar</button>
       </form>
    </nav>
    <br>
    <div>
      <h3>Arriendos de luces para fiestas</h3>
    </div>
    <br>
    <div id="conteItemsCarrusel">
      <div class="itemCarrusel" id="itemCarrusel-1">
        <div class="tarjetaCarrusel" id="carruselItem-1">
          <img src="{% static 'core/img/fiesta1.jpeg' %}" alt="">
        </div>
        <div class="flechasCarrusel">
          <a href="#itemCarrusel-3">
            <i class="fa-solid fa-arrow-left-long"></i>
          </a>
          <a href="#itemCarrusel-2">
            <i class="fa-solid fa-arrow-right-long"></i>
          </a>
        </div>
      </div>
      <div class="itemCarrusel" id="itemCarrusel-2">
        <div class="tarjetaCarrusel" id="carruselItem-2">
          <img src="{% static 'core/img/fiesta2.jpeg' %}" alt="">
        </div>
        <div class="flechasCarrusel">
          <a href="#itemCarrusel-1">
            <i class="fa-solid fa-arrow-left-long"></i>
          </a>
          <a href="#itemCarrusel-3">
            <i class="fa-solid fa-arrow-right-long"></i>
          </a>
        </div>
      </div>
      <div class="itemCarrusel" id="itemCarrusel-3">
        <div class="tarjetaCarrusel" id="carruselItem-3">
          <img src="{% static 'core/img/fiesta3.jpeg' %}" alt="">
        </div>
        <div class="flechasCarrusel">
          <a href="#itemCarrusel-2">
            <i class="fa-solid fa-arrow-left-long"></i>
          </a>
          <a href="#itemCarrusel-1">
            <i class="fa-solid fa-arrow-right-long"></i>
          </a>
        </div>
      </div>
    </div>
    <div id="contePuntos">
      <a href="#itemCarrusel-1">*</a>
      <a href="#itemCarrusel-2">*</a>
      <a href="#itemCarrusel-3">*</a>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Contenido de la primera tarjeta.</p>
              <a href="#" class="btn btn-primary">Ir a algún lugar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'core/img/Reserva.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Reservas las luces</h5>
              <p class="card-text">Aqui encontraras todo tipo de luces para fiestas, matrimonios, cumpleaños etc.</p>
              <a href="{% url 'reservas' %}" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 3</h5>
              <p class="card-text">Contenido de la segunda tarjeta.</p>
              <a href="#" class="btn btn-primary">Ir a otro lugar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>